# Virtual Environment
venv/
__pycache__/
*.pyc

# System / Temp Files
.DS_Store
Thumbs.db
server_temp_*
temp_*
ui_temp_cache_*

# Test assets (Keep repository clean)
*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.jpeg
*.png